.login-page {
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 设置容器高度为视窗高度 */
  margin-top: -200px;
}
.login-page-div {
  width: 260px;
  height: 36px;
  background: skyblue;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.login-page-div-input {
  width: 260px;
}
